<h3>Global stats</h3>
<div *ngIf="erroMessage && erroMessage.length > 0">
    <span>You have the following errors:</span>
    <span class="error">{{erroMessage}}</span>
</div>
<form [formGroup]="filterGlobalStatsForm" (ngSubmit)="submit()">
    <div>
        <label for="regionSelect">Select a region</label>
        <select id="regionSelect" formControlName="regionSelect">
            <option value="" selected="selected">Select region</option>
            <option *ngFor="let r of regions" value="{{r.region_id}}">{{r.name}}</option>
        </select>
    </div>
    <div>
        <label for="fromSelect">Select data from year:</label>
        <select id="fromSelect" formControlName="fromSelect">
            <option value="" selected="selected">Select year</option>
            <option *ngFor="let year of getYearList()" value="{{year}}">{{year}}</option>
        </select>
    </div>
    <div>
        <label for="toSelect">Select data to year:</label>
        <select id="toSelect" formControlName="toSelect">
            <option value="" selected="selected">Select year</option>
            <option *ngFor="let year of getYearList()" value="{{year}}">{{year}}</option>
        </select>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
<div *ngIf="globalStats && globalStats.length > 0; else emptyList">
    <div>
        <div class="table-container">
            <div class="table-header">
              <div>Continent</div>
              <div>Region</div>
              <div>Country</div>
              <div>Year</div>
              <div>Population</div>
              <div>GDP</div>
            </div>
          
            <div class="table-body">
              <div *ngFor="let item of globalStats" class="table-row">
                <div>{{ item.continentName }}</div>
                <div>{{ item.regionName }}</div>
                <div>{{ item.countryName }}</div>
                <div>{{ item.countryStatsYear }}</div>
                <div>{{ item.countryStatsPopulation }}</div>
                <div>{{ item.countryStatsGdp }}</div>
              </div>
            </div>
          </div>
          
    </div>
    <div>
        <div>
            <span>Page {{currentPage}} of {{totalPages}}</span>
        </div>

        <ng-container *ngFor="let page of getPagesList()">
            <span class="page-container" *ngIf="page === currentPage; else clickablePage">{{page}}</span>
            <ng-template #clickablePage>
                <span class="clickable page-container" (click)="goToPage(page)">
                    {{page}}
                </span>
            </ng-template>
        </ng-container>
    </div>
</div>
<ng-template #emptyList>
    <div>No global stats found for the input you provided</div>
</ng-template>
<div *ngIf="erroMessage && erroMessage.length > 0">
    <span>You have the following errors:</span>
    <span class="error">{{erroMessage}}</span>
</div>